{% extends 'view/base.html' %}

{% block head %}




{% endblock head %}

{% block body %}

<div class="col-lg-12">
    <div class="max-size panel panel-default">
        <div class="panel-heading">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left"><h4><strong>Estatísticas</strong></h4></td>
                    <td align="right">
                    </td>
                </tr>
            </table>
        </div>            
        <div class="panel-body">






        </div>
    </div>
</div>



{% endblock%}