{% extends 'view/base.html' %}

{% block head %}


<style>
    .kpi-box {
        height: 100px;

    }
</style>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://dimplejs.org/dist/dimple.v2.0.0.min.js"></script>
<script>
var margin = {top: 20, right: 0, bottom: 30, left: 50},
    width = 600 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom,
    maxHeight = height - 30,
    padding = 5;

function getTopContent() {
  $.getJSON('/majordomo/analytics/top10/', function(result) {
    var ul = document.getElementById("top10");

    result.data.forEach(function(element, index, array) {
      var li = document.createElement("li");
      var a = document.createElement("a");
      a.setAttribute('href', "/view/video/" + element.video_id + "/");
      a.innerHTML= element.video_title + " (média: "  + element.avg_rating + ")"

      li.appendChild(a);
      li.setAttribute("id",element.content_id);
      ul.appendChild(li);
    });
  })
}

function drawRatingChart(id) {

  d3.json("/majordomo/analytics/ratings_distribution", function(error, eventData) {
   var canvas = d3.select(id)
            .append("svg")
            .attr("width", width)
            .attr("height", height)
            .append('g')
            .attr("class", 'chart');

    var myChart = new dimple.chart(canvas, eventData);
    var x = myChart.addCategoryAxis("x", ["classificação"] );
    myChart.addMeasureAxis("y", "quantidade" );
    myChart.addSeries(null, dimple.plot.bar);
    myChart.addSeries(null, dimple.plot.line);
    myChart.setBounds(40, 30,480, 250);
    x.addOrderRule("classificação");
    myChart.draw();

    canvas.append("text")
          .attr("x", myChart._xPixels() + myChart._widthPixels()/2 - 110)
          .attr("y", myChart._yPixels() - 15)
          .text("Distribuição das classificações");
  });
}

// function drawDailyEvolution(id) {

//   d3.json("/majordomo/analytics/ratings_dailyevolution", function(error, eventData) {
//    var canvas = d3.select(id)
//             .append("svg")
//             .attr("width", width)
//             .attr("height", height)
//             .append('g')
//             .attr("class", 'chart');

//     var myChart = new dimple.chart(canvas, eventData);
//     myChart.setBounds(40, 50,470, 220);

//     var x = myChart.addCategoryAxis("x", "dia");
//     var y1 = myChart.addMeasureAxis("y", "quantidade" );
//     var y2 = myChart.addMeasureAxis("y", "acumulado" );

//     myChart.addSeries("Diário", dimple.plot.bar, [x, y1]);
//     myChart.addSeries("Acumulado", dimple.plot.line, [x, y2]);

//     myChart.addLegend(450, 15, 110, 20, "left");

//     myChart.draw();

//     canvas.append("text")
//           .attr("x", myChart._xPixels() + myChart._widthPixels()/2 - 50)
//           .attr("y", myChart._yPixels() - 35)
//           .text("Evolução diária");
//   });
// }


function drawWeekday(id) {

  d3.json("/majordomo/analytics/ratings_weekday", function(error, eventData) {
   var canvas = d3.select(id)
            .append("svg")
            .attr("width", width)
            .attr("height", height)
            .append('g')
            .attr("class", 'chart');

    var myChart = new dimple.chart(canvas, eventData);
    var x = myChart.addCategoryAxis("x", ["dia da semana"] );
    x.addOrderRule("dia_da_semana_num");
    myChart.addMeasureAxis("y", "quantidade" );
    myChart.addSeries(null, dimple.plot.bar);
    myChart.addSeries(null, dimple.plot.line);
    myChart.setBounds(40,30,480,250);
    myChart.draw();

    canvas.append("text")
          .attr("x", myChart._xPixels() + myChart._widthPixels()/2 - 70)
          .attr("y", myChart._yPixels() - 15)
          .text("Dias da semana");
  });
}





function update_statistics() {
  var tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() + 1);
  start_data = tomorrow.toJSON().slice(0,10);
  $.getJSON('/majordomo/analytics/get_statistics?date=' + start_data, function(result) {
    document.getElementById("mean_rating").textContent = result.mean_rating;
    document.getElementById("precision").textContent = result.precision + '%';
    document.getElementById("videos_rated_distinct").textContent = result.videos_rated_distinct;
    document.getElementById("videos_rated_total").textContent = result.videos_rated_total;
    document.getElementById("mean_videos_rated").textContent = result.mean_videos_rated;
    document.getElementById("most_active_user").textContent = result.most_active_user_id 
    document.getElementById("most_active_user_count").textContent = result.most_active_user_count;
    document.getElementById("stats_users").textContent = result.n_active_users + "/" + result.n_total_users + " ("+ result.active_users_percent + " %)";
  })

}
</script>



{% endblock head %}

{% block body %}

<div class="col-lg-12">
    <div class="max-size panel panel-default">
        <div class="panel-heading">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left"><h4><strong>Analytics</strong></h4></td>
                    <td align="right">
                    </td>
                </tr>
            </table>
        </div>            
        <div class="panel-body">











<div class="row" id="statistics">
    <div class="col-sm-2">
        <div class="well kpi-box">
             Classificações: <br/>
            <result id="videos_rated_total"></result> (distintos: <result id="videos_rated_distinct"></result>)
        </div>
    </div>
    <div class="col-sm-2">
        <div class="well kpi-box">
            Média de vídeos vistos por utilizador: <br />
            <result id="mean_videos_rated"></result>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="well kpi-box">
            Classificação média: <br/>
            <result id="mean_rating"></result>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="well kpi-box">
             Precisão do algoritmo: <br />
            <result id="precision"></result>
        </div>
    </div>    
    <div class="col-sm-2">
        <div class="well kpi-box">
             Utilizadores ativos: <br/>
            <result id="stats_users"></result>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="well kpi-box">
            Utilizador mais ativo: <br/>
            ID: <result id="most_active_user"></result>
              <br/>
            Vídeos vistos: <result id="most_active_user_count"></result>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <list>
            <p>Top 10 videos<p>
            <ul id="top10"></ul>
        </list>
    </div>
    <div class="col-sm-6">
        <div id="p2" class="well"></div>
    </div>
</div>
    <br />
<div class="row">
    <div class="col-sm-6">
        <div id="p7"><img src="/majordomo/img/user_ratings"/></div>
    </div>
    <div class="col-sm-6">
        <div id="p8"><img src="/majordomo/img/rating_types"/></div>
    </div>
</div>
    <br />
<div class="row">
    <div class="col-sm-6">
        <div id="p3"><img src="/majordomo/img/rating_dailyevolution" /></div>
    </div>
    <div class="col-sm-6">
        <div id="p4"></div>
    </div>
</div>
    <br />
<div class="row">
    <div class="col-sm-6">
        <div id="p5"><img src="/majordomo/img/rating_hour" /></div>
    </div>
    <div class="col-sm-6">
        <div id="p6"><img src="/majordomo/img/rating_weekday" /></div>
    </div>
</div>



<script type="text/javascript">
update_statistics();
//drawChart("#p1");
drawRatingChart("#p2");
// drawDailyEvolution("#p3")
// drawWeekday("#p4")
getTopContent();
</script>











        </div>
    </div>
</div>



{% endblock%}