<!--

 More on django template filters: https://docs.djangoproject.com/en/1.7/ref/templates/builtins/#ref-templates-builtins-filters

 -->

{% extends 'view/base.html' %}
{% load staticfiles %}
{% block body %}

<style type="text/css">
    .input-color {
        position: relative;
    }
    .input-color input {
        padding-left: 20px;
        border:none;
    }
    .input-color .color-box {
        width: 14px;
        height: 14px;
        display: inline-block;
        background-color: #ccc;
        position: absolute;
        left: 5px;
        top: 5px;
    }
</style>

<div class="panel panel-default" style="margin-left:10px; margin-right:10px;">
            <div class="panel-heading" style="font-size:2rem"><a href="{% url 'video_index' %}"
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-step-backward"></span></a>
                </button>
                &nbsp;&nbsp;&nbsp;<strong>ASGIE</strong>
            </div>
            <div class="panel-body">
                <ul>
                    <li>ID: {{asgie.id}}</li>
                    <li>Title (pt): <strong>{{asgie.title_pt | upper}}</strong></li>
                    <li>Título (en): {{asgie.title}}</li>
                    <li>Default color:
                    <div class="input-color">
                        <input type="text" value="{{asgie.color}}" readonly="readonly"/>
                        <div class="color-box" style="background-color: {{asgie.color}};"></div>
                    </div></li>
                    <li>Default image: <img src="{% static 'img/'|add:asgie.image %}" width="100%"></li>
                </ul>
            </div>
        <!--
        <div class="panel panel-default"  style="margin-left:10px; margin-right:10px;">
            {% if asgie.information_sources.count %}
                <div class="panel-heading" style="font-size:2rem">            
                        Fontes de informação
                </div>
                <div class="panel-body">
                    <ul>
                        {% for information_source in asgie.information_sources.all %}
                        <li><a href="{{information_source.url}}" target="_blank">{{information_source.url}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
               <p>Nenhuma fonte de informação encontrada</p>
            {% endif %}
        </div>

        <div class="panel panel-default"  style="margin-left:10px; margin-right:10px;">
            {% if resources %}
                <div class="panel-heading" style="font-size:2rem">            
                        Recursos utilizados
                </div>
                <div class="panel-body">
                    <ul>
                        {% for resource in resources %}
                        <li><a href="{{resource}}" target="_blank">{{resource}}</a> </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
               <p>Nenhuma fonte de informação encontrada</p>
            {% endif %}
        </div>
        -->
</div>


{% endblock body %}