{% extends 'view/base.html' %}
{% block body %}

<div class="col-lg-12">
    <div class="max-size panel panel-default">
        {% if asgies %}
        <div class="panel-heading">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left"><h4><strong>ASGIEs</strong></h4></td>
                    <td align="right"><form class="navbar-form" action="/">
                        <div class="form-group" style="display:inline;">
                            <input type="text" style="width:150px" class="form-control" placeholder="Search" name="q" style="bg-color='gray'" maxlength="20">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                      </form>
                    </td>
                </tr>
            </table>
        </div>            
        <div class="panel-body">
            <ul>
                {% for asgie in asgies %}
                <li><a href="{% url 'asgie_detail' asgie.id %}">{{asgie.id}} - {{asgie.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
           <p>ASGIE não encontrados!</p>
        {% endif %}
    </div>
</div>


{% endblock%}