{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--     Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- 
    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet"> -->
    
    <title>+TV4E Viewport</title>
  </head>
  <body>

      
      <div class="header">
              <ul class="nav nav-pills pull-right">
                <li class="{% if request.resolver_match.url_name == 'user_index' %}active{%endif%}"><a href="{% url 'user_index' %}">Utilizadores</a></li>
                <li class="{% if request.resolver_match.url_name == 'asgie_index' %}active{%endif%}"><a href="{% url 'asgie_index' %}">ASGIEs</a></li>
                <li class="{% if request.resolver_match.url_name == 'video_index' %}active{%endif%}"><a href="{% url 'video_index' %}">Vídeos informativos</a></li>
                <li><a href="/">Logout</a></li>
              </ul>
        <h2 class="text-muted active"><strong>&nbsp;+TV4E Viewport</strong></h2>
      </div>
    

         {% block body %}
         {% endblock body %}

  </body>
</html>