<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+TV4E Viewport</title>

    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>
    <div class="container">
            <nav class="navbar navbar-inverse no-padding">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                <span class="navbar-brand" style="color: #CCCCCC">+TV4E Viewport</span>

            </div>
            <!-- Search -->
            <div class="nav nav-pills pull-right">

                <form class="navbar-form" action="/view/search/">
                    <div class="form-group" style="display:inline;">
                        <input type="text" class="form-control" placeholder="Search" name="q" style="bg-color='gray'" maxlength="40">
                        <button class="input-group-addon" style="width: 40px"><i class="glyphicon glyphicon-search" title="Search"></i></button>
                    </div>
                  </form>
            </div>
        </nav>
        <!-- end of top -->

        <div class="row">
            <div class="col-xs-3 sidebar collapse navbar-collapse">
                <div class="well">
                    <strong>ASGIE</strong><br/>
                    <ul class="nav nav-sidebar">
                    {% if asgies %}
                    {% for asgie in asgies %}
                        <li> <a href="{% url 'asgie_detail' asgie.id%}">{{asgie.title_pt}}</a> </li>
                    {% endfor %}
                    {% endif %}
                    </ul>
                </div>
              </div>


{% block body %}
{% endblock body %}


        </div>
    </div>
    <script>

    </script>
</body>
</html>