<!--

 More on django template filters: https://docs.djangoproject.com/en/1.7/ref/templates/builtins/#ref-templates-builtins-filters

 -->

{% extends 'view/base.html' %}
{% load staticfiles %}
{% block body %}

<script>
        function get_recs(user_id) {
            url = '/majordomo/user_recommendations/' + user_id + '/'

            $.getJSON(url, 
                function(result) {
                    result.data.forEach(function(element, index, array) {
                        image_url = '/static/img/'+  element.asgie_image

                        rec_div = document.createElement('div')
                        rec_div.setAttribute('class', "col-sm-3 img-responsive")

                        a = document.createElement('a')
                        a.setAttribute('href', '/view/video/' + element.video_id)

                        img = document.createElement('img')
                        img.setAttribute('src', image_url)
                        img.setAttribute('class',"img-responsive")
                        a.appendChild(img)

                        span = document.createElement('span')
                        span.innerHTML = element.video_title
                        a.appendChild(span)

                        rec_div.appendChild(a)

                        recs = document.getElementById('recommendations')
                        recs.appendChild(rec_div)
                        recs.style.visibility = 'visible'
                    })
                });
        }

</script>
<div class="panel panel-default" style="margin-left:10px; margin-right:10px;">
            <div class="panel-heading" style="font-size:2rem"><a href="{% url 'video_index' %}"
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-step-backward"></span></a>
                </button>
                &nbsp;&nbsp;&nbsp;<strong>User</strong>
            </div>
            <div class="panel-body">
                <ul>
                    <li>ID: {{item.id}}</li>
                    <li>Name: <strong>{{item.name | default:"Não informado" | upper}}</strong></li>
                    <li>Gender: {{ item.gender | default:"Não informado" }}</li>
                    <li>Location: {{item.city.id}} - {{item.city.name}}</li>
                </ul>
            </div>
        
        <div class="panel panel-default"  style="margin-left:10px; margin-right:10px;">
                <div class="panel-heading" style="font-size:2rem">            
                        Ratings
                </div>
           <div class="panel-body">
            {% if ratings.count %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Rating</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rating in ratings %}
                        <tr>
                            <td><a href="{% url 'video_detail' rating.video.id %}">{{rating.video.id}}</a></td>
                            <td><a href="{% url 'video_detail' rating.video.id %}">{{rating.video.title}}</a></td>
                            <td>{{rating.overall_rating_value|floatformat:"3"}} </td>
                            <td>({{rating.watched_type}})</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tr>
                            <td></td>
                            <td><strong>Mean</strong></td>
                            <td><strong>{{mean}}</strong></td>
                            <td></td>
                        </tr>
                    </table>
            {% else %}
               <p>Nenhum dado encontrado!</p>
            {% endif %}
                </div>
        </div>
        <div class="panel panel-default" style="margin-left:10px; margin-right:10px;">
            <div class="panel-heading" style="font-size:2rem">            
                    Recommendations for this user
            </div>
            <div class="panel-body" id="recommendations" class="row" style="visibility: hidden">
                <script>
                     get_recs('{{ item.id }}')
                </script>
            </div>
        </div>


</div>


{% endblock body %}