<!--

 More on django template filters: https://docs.djangoproject.com/en/1.7/ref/templates/builtins/#ref-templates-builtins-filters

 -->

{% extends 'view/base.html' %}
{% load staticfiles %}

{% block body %}

<script>
        function get_similar(content_id) {
            url = '/majordomo/similar_content/' + content_id + '/'

            $.getJSON(url, 
                function(result) {
                    result.data.forEach(function(element, index, array) {
                        image_url = '/static/img/'+  element.asgie_image

                        rec_div = document.createElement('div')
                        rec_div.setAttribute('class', "col-sm-3 img-responsive")

                        a = document.createElement('a')
                        a.setAttribute('href', '/view/video/' + element.video_id)

                        img = document.createElement('img')
                        img.setAttribute('src', image_url)
                        img.setAttribute('class',"img-responsive")
                        a.appendChild(img)

                        span = document.createElement('span')
                        span.innerHTML = element.target_title + ' - (confiança: '+ element.confidence + ')'
                        a.appendChild(span)

                        rec_div.appendChild(a)

                        recs = document.getElementById('similar_contents')
                        recs.appendChild(rec_div)
                        recs.style.visibility = 'visible'
                    })
                });
        }

</script>
        <div class="panel panel-default" style="margin-left:10px; margin-right:10px;">
            <div class="panel-heading" style="font-size:2rem"><a href="{% url 'video_index' %}"
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-step-backward"></span></a>
                </button>
                &nbsp;&nbsp;&nbsp;<strong>Informative Video</strong>
            </div>
            <div class="panel-body">
                <ul>
                    <li><strong>Title: {{video.id}} - {{video.title}}</strong></li>
                    <li>URL: <a href="{{video.av_resource.url}}">{{video.av_resource.url}}</a></li>
                    <li>ASGIE: {{video.asgie.title_pt}}</li>
                    <li>Data: {{video.date_creation}}</li>
                    <li>Location: {{video.location| default:"ALL"}}</li>
                    <li>Text:</li>
                    <p>{{video.desc}}</p>
                    <li>Tokens:</li>
                    <p>{{video.tokens | default:"Não informado"}}</p>
                </ul>
            </div>
            <div class="panel panel-default" style="margin-left:10px; margin-right:10px;">
                <div class="panel-heading" style="font-size:2rem">            
                        Similar videos
                </div>
                <div class="panel-body" id="similar_contents" class="row" style="visibility: hidden">
                    <script>
                         get_similar('{{ video.id }}')
                    </script>
                </div>
            </div>
        </div>

{% endblock %}