{% extends "view/base.html" %}
{% load staticfiles %}


{% block body %}
<table cellpadding="0" cellspacing="0">
    <tr>
        <td class="col-xs-3" valign="top">
            <div class="panel panel-default">
                    <div class="panel-heading" style="margin-left:0px; font-size:2rem;"><strong>Filtrar por ASGIE</strong></div>
                    <div class="panel-body">
                        <ul class="nav nav-sidebar">
                        {% if asgies %}
                        {% for asgie in asgies %}
                            <li> <a href="{% url 'video_index' %}?asgie={{asgie.id}}">{{asgie.title_pt}}</a> </li>
                        {% endfor %}
                        {% endif %}
                        </ul>
                  </div>
            </div>
        </td>
        <td class="col-xs-9 main"  style="margin-right:0px">
            <div class="max-size panel panel-default">
                <div class="panel-heading" style="margin-right:0px; font-size:2rem;"><strong>Vídeos informativos</strong></div>
                <div class="panel-body">
                {% if videos %}
                    {% for video in videos %}
                    <div class="col-xs-3"><a href="{% url 'video_detail' video.id %}"><img src="{% static 'img/'|add:video.asgie.image %}" width="180">{{video.title|lower|capfirst|truncatechars:40}}</a></div>
                    {% endfor %}
                {% endif %}

                {% if videos.has_other_pages %}
                <ul class="pagination">
                    {% if videos.has_previous %}
                        <li><a href="?page={{videos.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in pages %}
                        {% if i == videos.number %}
                            <li class="active">
                                <span>{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li>
                                <a href="?page={{i}}">{{ i}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if videos.has_next %}
                        <li><a href="?page={{videos.next_page_number}}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
                </div>
                    Foram encontrados {{videos_count}} videos.
            </div>
        </td>
    </tr>
</table>

{% endblock body %}
